.custom-container {
    min-height: 100vh;
    position: relative;
}

.custom-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.custom-max-width-400px {
    max-width: 400px;
}

.custom-table tbody tr:hover {
    transition: .1s;
    border-left: 5px #369 solid !important;
    cursor: pointer;
}

.custom-table-tr-pointer tbody tr:hover {
    cursor: pointer;
}

.custom-icon {
    width: 20px !important;
}

.custom-item-danger:hover {
    color: #dc3545 !important;
}

.custom-label {
    padding: 2px 5px;
    font-size:14px;
    border-radius: 5px;
}

.custom-pointer {
    cursor: pointer;
}

.custom-table-checked {
    background: #17a3b880;
}

.custom-hover-info:hover {
    color: #17a2b8;
}

.max-width-200p {
    max-width: 200px;
}

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 13px;
    background-color: #34C279; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 13px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}